.home-header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('/img/service-img/design-build.webp');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.4s linear;
}


.header-content {
    margin-bottom: 230px;
    color: #E4F2E7;
    text-align: center;
}

.line {
    width: 150px;
    height: 4px;
    background: #28a745;
    margin: 10px auto;
    border-radius: 6px;
}


.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.home-service {
    width: 90%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: var(--second-test);
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home-service .row {
    margin-top: 50px;
}

h4 {
    font-size: 4vmin;
    color: var(--second-test);
    margin: 20px auto;
}

.home-service-img img {
    width: 550px;
    border-radius: 5px;
    box-shadow: 0 0 4px gray;
    transition: .4s ease;
}

.home-service-img:hover img {
    transform: scale(1.1);
}

.row p {
    color: var(--second-test);
    padding: 0px 40px;
}

.home-btn {
    margin-top: 50px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #121212;
    padding: 10px 24px;
    margin-left: 2rem;
    border: 1px solid #121212;
}

.home-btn:hover {
    color: #fff;
    background-color: black;
}


.home-scroller {
    margin: 0 auto;
    width: 80%;
    display: grid;
    place-content: center;
    height: 200px;
    font-family: system-ui;
    font-size: 1.125rem;
}

.scroller {
    width: 100%;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list img {
    width: 60px;
}

.tag-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag-list li {
    padding: 1rem;
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}


.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}


.home-gallery {
    /* display: flex;
    justify-content: space-between; */
    width: 80%;
    margin: 80px auto;
}

.content-col {
    width: 40%;
}

.image-col {
    width: 60%;
}

.home-gallery .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.image-gallery img {
    width: 320px;
    margin: 12px;
}

.content-col h1 {
    font-size: 7vmin;
    color: var(--second-test);
    text-align: center;
}

.content-col .line {
    width: 150px;
    height: 4px;
    background: #28a745;
    margin: 10px auto;
    border-radius: 6px;
}

.content-col p {
    padding: 0;
    margin: 30px auto;
}

.gallery-button {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--second-test);
    padding: 10px 24px;
    border: 1px solid var(--second-test);
}

.gallery-button:hover {
    color: #fff;
    background-color: black;
}


.home-sales {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 150px;
    font-family: Poppins;
    font-size: 1.125rem;
}

.service-list {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
}

.service-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.service-list li i {
    font-size: 35px;
    margin-right: 15px;
    color: #28a745;
}

.service-list li span {
    font-size: 14px;
    font-weight: 500;
}

/* Learn More */

.explore {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('/img/explore-walpaper.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.explore-content {
    margin: 80px auto;
    width: 100%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.explore-content .line {
    width: 150px;
    height: 4px;
    background: #28a745;
    margin: 10px auto;
    border-radius: 6px;
}

.explore-content h1 {
    font-size: 7vmin;
}

.explore-content p {
    color: whitesmoke;
    width: 50%;
}

.explore-btn {
    margin-top: 2rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
    padding: 10px 24px;
    border: 1px solid #fff;
}

.explore-btn:hover {
    color: #fff;
    background-color: black;
}
